h1,
h2 {
  font-family: "Helvetica";
  font-weight: bold;
}

h1 {
  background-image: url(../images/computer-3163437_1280.png);
  font-size: 4.5rem;
  padding-left: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  margin-top: 0px;
}

h5 {
  background-color: blueviolet;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

dd,
dt {
  padding-left: 20px;
}

footer {
  background-image: url(../images/computer-3163437_1280.png);
}
